.layout {
  display: grid;
  grid-template-columns: 150px auto 25%;
  grid-template-areas:
    'header header header'
    'nav . .'
    '. . .';
}
.tablet header {
  grid-column: span 2;
}
.tablet footer {
  grid-column: span 2;
}
.tablet aside {
  grid-column: span 2;
}

.layout.tablet {
  grid-template-columns: 150px auto;
}

header {
  background-color: palevioletred;
  font-size: 25px;
  grid-column: span 3;
  padding: 15px;
  grid-area: header;
}

nav {
  background-color: paleturquoise;
  grid-area: nav;
}
main {
  background-color: palegoldenrod;
}
aside {
  background-color: rgb(234, 156, 100);
}

footer {
  background-color: rgb(119, 119, 236);
  grid-column: span 3;
  padding: 15px;
}
